html *{
    overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html *::-webkit-scrollbar {
  display: none;
}

body *{
    overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body *::-webkit-scrollbar {
  display: none;
}